.container{
  max-width: 85vw;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.note-list{
  display: grid;
  grid-gap:1rem;
  grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
}
.note.new{
  background-color: #67d7cc;
}
textarea{
  border: none;
  resize: none;
  background-color: #67d7cc;
}
textarea:focus{
  outline: none;
}
.note{
  background-color: #fef68a;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.save{
  border-radius: 1rem;
  width: 3rem;
  border: none;
  cursor: pointer;
}
.save:hover{background-color: #ededed;}
.delete-icon{
  cursor: pointer;
}
.Search{
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(233,233,233);
  margin-bottom: 1.5rem;
}
.Search input{
  background-color: rgb(233,233,233);
  border:none;
  width: 100vw;
}
.Search input:focus{
  outline: none;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  border-radius: 1rem;
  width: 8rem;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
}

/* Dark mode css */
.dark-mode{
  background-color:#272343;
}
.dark-mode h1{
  color: white;
}
.dark-mode  {
  box-shadow: 2px 2px solid white;
}